/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #2d6a4f;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

section {
    padding: 50px 20px;
    text-align: center;
    background-color: #8ae0b9;
    
}

footer{
    background-color: #2d6a4f;
}

.efforts{
    text-align: center;
}




.container{
    justify-content: center;
}


.gallery {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5e987e;
    text-align: center;
    height: 570px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .image-container img {
    width: 300px;
    border-radius: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
    